body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
}

.command-down-button, .height-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.command-up-button {
  background-color: #ff00ff;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.command-down-button:hover{
  background-color: #0056b3;
}

.command-up-button:hover {
  background-color: #d33074;
}

.height-button {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.height-button:hover {
  background-color: #898989;
}

.height-display {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  font-weight: bold;
}
